<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/houtai/add" method="POST">
    时间:<input type="text" name="time" placeholder="account" /><br>
    水电支出:<input type="text" name="shuidianzhichu" placeholder="account" /><br>
    材料支出:<input type="text" name="cailiaozhihchu" placeholder="account" /><br>
    购置支出:<input type="text" name="shebeizhichu" placeholder="account" /><br>
    营业额:<input type="text" name="yingyee" placeholder="account" /><br>
    利润:<input type="text" name="liruen" placeholder="account" /><br>
    <input type="submit" value="提交">

    </form>
</body>
</html>